@{
    string email;
	bool isAdmin;
    if (Session["email"]!=null && (string)Session["email"]=="mloftus1@icloud.com")
    {
        email = (string)Session["email"];
		isAdmin = true;

    }
    else
    {
        email = "not Megan";
		isAdmin=false;
    }
}

<style>
.custColor + label.active{
color: #1f1f1f !important;
}
.custColor:focus{
    border-bottom-color: #ffa4a4 !important;
    box-shadow: 0 1px 0 0 #ffa4a4 !important;
    --color: #f3f3f3 !important;
}
.custColor, .custColor + label{
    --color: #ffa4a4 !important;
}
.selectWidth{
        width: 100% !important;
}
.form-control:focus {
    border-color: #ffa4a4;
    box-shadow: 0 0 0 0.2rem rgba(255, 155, 155, 0.25);
}
.bootbox-alert, .bootbox-confirm, .bootbox-alert .modal-footer, .bootbox-confirm .modal-footer {
    background-color: transparent !important;
    box-shadow: none !important;
}
.bootbox-alert .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle,
.bootbox-confirm .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
	color: black;
	background-color: transparent;
	border-color: white;
}
.removeFocus:focus{
outline: none;
background-color: transparent;
}
</style>


		

<!-- @{
	if(!isAdmin)
	{
		<div class="jumbotron m-5">
			<h3 class="mt-0">We're Sorry...</h3>
			<div class="alert lighten-3 red z-depth-5" role="alert">
			<b>	You do not have user access to view this page.</b>
			</div>
		</div>
		<script>
		window.stop();
		</script>

	}
} -->


<div id="editModal" class="bd-example-modal-lg fade modal p-0" style="max-height: 90%;max-width: 35%;" tabindex="-1" role="dialog"
 aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="h-100 m-0 modal-dialog modal-lg w-100" style="max-width: none;">
		<div class="h-100 modal-content p-0">
			<div class="modal-header">
				<div id="thumbDiv" class='w-25'>
					<img class="img-thumbnail img-fluid" src="">
				</div>
				<button type="button" class="close removeFocus" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form name="editForm" id="editForm">
					<div class="input-field">
						<input id="title" type="text" name="title" class="custColor" autocomplete="new-password">
						<label class="login" for="title">Title</label>
					</div>
					<div class="input-field">
						<input id="dems" type="text" name="dems" class="custColor" autocomplete="new-password">
						<label for="dems">Dimensions</label>
					</div>
					<div class="input-field">
						<input id="year" type="text" name="year" class="custColor" autocomplete="new-password">
						<label for="year">Year</label>
					</div>
					<div class="form-group selectWidth">
						<label class="fontLabel selectWidth" for="category">
							Category/Medium
							<select class="select2 form-control" name="medium" id="medium">
								<optgroup label="Artwork">
									<option data-vgroup="artwork" value="oil">Oil</option>
									<option data-vgroup="artwork" value="acrylics">Acrylics</option>
									<option data-vgroup="artwork" value="illustrations">Illustrations</option>
									<option data-vgroup="artwork" value="commissions">Commissions</option>
								</optgroup>
								<optgroup label="Beauty">
									<option data-vgroup="beauty" value="beauty">Beauty</option>
									<option data-vgroup="beauty" value="corrective">Corrective</option>
									<option data-vgroup="beauty" value="events">Events</option>
									<option data-vgroup="beauty" value="themed">Themed</option>
									<option data-vgroup="beauty" value="trendy">Trendy</option>
								</optgroup>
							</select>
						</label>
					</div>
					<input type="hidden" id="category" name="category" value="artwork">
					<input type="hidden" id="id" name="id" value="0">
					<div class="input-field">
						<textarea name="addInfo" id="addInfo" aria-describedby="helpId" class="materialize-textarea custColor"></textarea>
						<label for="textarea1">Additional Info</label>
					</div>
				</form>
			</div>
			<div class="modal-footerdd">
                <div class="row">
					<div class="col-12 col-md-4">
				<button type="button" id="deleteImg" class="btn mr-auto red">Delete</button>

					</div>
					<div class="col-12 col-md-8">

					
				<button type="button" id="saveChanges" class="btn btn-primary ml-3 mr-3 right">Save changes</button>
				<button type="button" class="btn btn-secondary right" data-dismiss="modal">Cancel</button>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row w-75" id="thumbDivEdit">
    <!-- AJAX HERE -->
</div>




<script>


$(function () {
	var block, editData;

	$.ajax({
		type: "get",
		url: "GetDetails",
		dataType: "json"
	}).done(function (data) {
		editData=data;
		var html = "";
		for (var i = 0; i < data.length; i++) {
			html += `
			<div class="col-12 col-md-2">
				<div class="card">
						<a href="/Photos/${data[i].Filename}" data-lightbox="one">
							<img class="img-thumbnail img-fluid" src="/Photos/Thumbs/${data[i].Filename}" >
						</a>
					<div class="card-body pt-0">
						<h5 class="card-title">${data[i].Title}</h5>
						<b>Category:</b> ${data[i].Category} <br>
						<b>Deminsions:</b> ${data[i].Deminsions} <br>
						<b>Medium:</b> ${data[i].Medium} <br>
						<b>Year:</b> ${data[i].Year} <br>
						<b>AddInfo:</b> ${data[i].AddInfo} <br>
						<button type="button"  data-toggle="modal" data-target=".bd-example-modal-lg" data-index="${i}" id="edit${i + 1}" class="btn mt-2 editBtn">Edit</button>
					</div>
				</div>
			</div>
			`
		}
		$('#thumbDivEdit').append(html)
	})


	$('#thumbDivEdit').on('click','.card-body .editBtn',function(){
		block = $(this)
		var i = $(this).data('index')
		$('#thumbDiv img').attr('src',`/Photos/Thumbs/${editData[i].Filename}`)
		console.log(editData[i])
		if (editData[i].Title !="") {
			$('#title').val(editData[i].Title)
			$('#title + label').addClass('active')
		}
		if (editData[i].Deminsions !="") {
			$('#dems').val(editData[i].Deminsions)
			$('#dems + label').addClass('active')
		}
		if (editData[i].Year !="") {
			$('#year').val(editData[i].Year)
			$('#year + label').addClass('active')
		}
		if (editData[i].Medium !="") {
			$('#medium').val(_.toLower(editData[i].Medium))
			$('#category').val(editData[i].Category)
		}
		if (editData[i].AddInfo !="") {
			$('#addInfo').val(editData[i].AddInfo)
			$('#addInfo + label').addClass('active')
		}
		$('#medium').on('change', function () {
			$('#category').val($('#medium  option:selected').data('vgroup'))
		})

		$('#id').val(editData[i].ID)

		$('#deleteImg').on('click', function () {
			$('#editModal').css('display','none')
			bootbox.confirm({
				message: "Are you sure you want to delete this image?",
				buttons: {
					confirm: {
						label: 'Delete',
						className: 'red ml-2'
					},
					cancel: {
						label: 'Cancel',
						className: 'grey'
					}
				},
				callback: function (result) {
					if (result) {
						
					}
					else
					{
						$('#editModal').css('display','block')
					}
				}
});
			
		});
	})



	$('#saveChanges').on('click',function(){
		var updateData = prepJSON($('#editForm'))
		$.ajax({
			type: "post",
			url: "Update",
			data: updateData,
			dataType: "json"
		}).done(function (data) {
			$('#editModal').modal('hide');
			bootbox.alert(data,function(){
				location.reload()
			});
		 })
	}) 
})

</script>